<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASACS / Team 90 / CS6400 Spring 2017</title>

    <!-- bootstrap css -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Our custom site CSS -->
    <link rel="stylesheet" href="~/Content/Site.css">

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <h4 class="navbar-text"><a href="/Home/Index">ASACS / Team 90 / CS6400 Spring 2017</a></h4>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
