@model ASACS5.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Home";
}

<h1>Welcome to ASACS!</h1>

@if (Model.SiteID.Equals(0))
{
    <p><a href="/Account/Login">Login</a></p>
}
else
{
    <h3>Welcome @Model.Username! (@Model.SiteName)</h3>
    <p><a href="/Site/Index">Site Details</a></p>
    <p><a href="/Client/Index">Client Details</a></p>
    <p><a href="/Items/Index">Search/Add/Update Items</a></p>
    <p><a href="/Requests/MyRequests">My Requests</a></p>
    if (Model.HasFoodBank)
    {
        <p><a href="/Requests/Index">Outstanding Requests</a></p>
    }
    <p><a href="/Waitlist/UpdateWaitlist">View/Update Waitlist</a></p>
}

<p><a href="/Reports">Reports</a></p>
