@model ASACS5.Models.Site.AddClientViewModel

@{
    ViewBag.Title = "Client Details";
}

<h1>Client Details </h1>

    <p><a href="/Client/AddClient">Add Client</a></p>
    <p><a href="/Client/SearchClientByName">Client Search By Name</a></p>
    <p><a href="/Client/SearchClientByID">Client Search By ID</a></p>
<div>
    @Html.ActionLink("Back", "Index", "Home")
</div>