@model ASACS5.Models.Site.SiteIndexViewModel

@{
    ViewBag.Title = "Site Details";
}

<h1>Site Details : Site @Model.SiteID</h1>

<table class="table">
    <thead>
        <tr>
            <th>Service Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Food Bank</td>
            <td>
                @if (Model.HasFoodBank)
                { <a href="/Site/DeleteService/FoodBank"><span class="glyphicon glyphicon-trash" title="Delete"></span></a> }
                else
                { <a href="/Site/FoodBank"><span class="glyphicon glyphicon-plus" title="Add"></span></a> }
            </td>
        </tr>
        <tr>
            <td>Food Pantry</td>
            <td>
                @if (Model.HasFoodPantry)
                { <a href="/Site/FoodPantry"><span class="glyphicon glyphicon-eye-open" title="View/Update"></span></a> <a href="/Site/DeleteService/FoodPantry"><span class="glyphicon glyphicon-trash" title="Delete"></span></a> }
                else
                { <a href="/Site/FoodPantry"><span class="glyphicon glyphicon-plus" title="Add"></span></a> }
            </td>
        </tr>
        <tr>
            <td>Shelter</td>
            <td>
                @if (Model.HasShelter)
                { <a href="/Site/Shelter"><span class="glyphicon glyphicon-eye-open" title="View/Update"></span></a> <a href="/Site/DeleteService/Shelter"><span class="glyphicon glyphicon-trash" title="Delete"></span></a> }
                else
                { <a href="/Site/Shelter"><span class="glyphicon glyphicon-plus" title="Add"></span></a> }
            </td>
        </tr>
        <tr>
            <td>Soup Kitchen</td>
            <td>
                @if (Model.HasSoupKitchen)
                { <a href="/Site/SoupKitchen"><span class="glyphicon glyphicon-eye-open" title="View/Update"></span></a> <a href="/Site/DeleteService/SoupKitchen"><span class="glyphicon glyphicon-trash" title="Delete"></span></a> }
                else
                { <a href="/Site/SoupKitchen"><span class="glyphicon glyphicon-plus" title="Add"></span></a> }
            </td>
        </tr>
    </tbody>
</table>

<div>
    @Html.ActionLink("Back", "Index", "Home")
</div>